@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$pink: #bc4cf7;
$lightpink: #ff7ca6;
$purple: #7873ee;
$green: #3ab0ae;

$desktop-breakpoint: 1080px;

.container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.details-div{
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  p{
    font-size: 20px; 
    }
    ul{
      list-style: none;
      li{
        span{
          font-weight: bold;
        }
      }
    }
}